<style type="text/css">
    .container{
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 10px
        }
    body{
            background-image: url('https://www.tmf-group.com/-/media/images/corporate-site/background-images/generic-website-imagery/covid19/coronavirus-1500x900.jpg');
        }
</style>
